<div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
        <% if account_signed_in? %>
        <li class="nav-item">
          <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
        </li>
        <% end %>
        <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
        <% if account_signed_in? %>
        <li class="nav-item">
          <%= button_to "Log out", destroy_account_session_path, method: :delete, class: "btn btn-outline-primary me-2" %>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_account_session_path, class: "btn btn-outline-primary me-2" %>
        </li>
        <li>
            <%= link_to "Sign-up", new_account_registration_path, class: "btn btn-outline-primary me-2" %>
        </li>

        <% end %>


      </ul>
    </header>
  </div>
