<ul class="nav nav-pills flex-column mb-auto">

  <li class="nav-item">
    <%= link_to properties_path, class: "text-decoration-none text-body" do %>
    <div class="nav-link">
      <i class="bi bi-house-door-fill"></i>
      <span>Properties</span>
    </div>
    <% end %>
  </li>

  <li>
</ul>
