<div class="border text-center">
        <h3 class="pt-1">Seller</h3>
        <h2 class="fw-normal"><%= @seller.full_name %></h2>
        <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
        <p><a class="btn btn-secondary" href="#">Contact for details »</a></p>
</div>
