<main>
  <div class="album py-5 bg-light">
    <div class="container">
      <section class="latest-properties">
        <div class="row border-bottom">
          <div class="col">
            <h2 class="pb-2">Latest apartments:</h2>
          </div>
          <div class="col d-flex justify-content-end ">
            <div class="dropstart">
              <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Rooms:
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </div>
          </div>

        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 pt-3">
          <%= render "properties/latest_properties" %>
        </div>
      </section>
    </div>
  </div>
</main>
