.carousel-image-place {
  width: 100%;
  height: 600px;;
}
.image-carousel {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.prop-desc {
  width: 805px;
  height: 220px;
  // overflow: hidden;
  text-align: justify;
}
.card-img-top {
width: 100%;
height: 30vh;
object-fit: cover;
}
.prop-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
}
