<main>

  <section class="property-type">
    <%= render "properties/property_type_sell" %>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <section class="latest-properties">
        <h2 class="pb-2 border-bottom">Latest properties:</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 pt-3">
          <%= render "properties/latest_properties_sell" %>
        </div>
      </section>
    </div>
  </div>

</main>
